@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.container {
  position: relative;
  font-family: Inter;
}

.my-name {
  font-size: 20px;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  color: #101828;
  font-weight: 600;
  font-size: 18px;
  display: block;
  background-color: #eaecf0;
  padding: 24px 0;
}

.share {
  position: absolute;
  right: 250px;
}

.share-two {
  position: absolute;
  right: 25px;
}

ul {
  padding: 0;
}
